<div class="user-login-5" style="background: #d3fffe">
    <div class="row bs-reset">
        <div class="col-md-6 login-container bs-reset">
            <div class="login-content">
                <h1>Rev-U: Unlock the value of user reviews</h1>
                <p> Today, Facebook allows business owners to directly interact with their clients and for these clients to post genuine information about that business. However, this information isn’t accessed by potential clients who aren’t yet aware of your business, and are only exposed to it via ads. 
Rev-U transforms the genuine, valuable user-generated content Facebook allows businesses to collect from their users into ads, allowing first-time customers to hear about a business just like they would when a friend recommends it.  </p>
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>Enter any username and password. </span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                        	<%= f.input :email, required: false, autofocus: true %>
                        </div>
                        <div class="col-xs-6">
                        	<%= f.input :password, required: false %>
                        </div>
                    </div>
                    <div class="row">
	                    <%= devise_error_messages! %>
	                    <% flash.each do |key, value| %>
	                        <div><%= value %></div>
	                    <% end %>
	                </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="rememberme mt-checkbox mt-checkbox-outline">
                            	
                            </label>
                        </div>
                        <div class="col-sm-8 text-right">
                            <!-- <div class="forgot-password">
                                <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                            </div> -->
                            <%= f.button :submit, "Log in" %>
                            <!-- <button class="btn blue" type="submit">Sign In</button> -->
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-6 bs-reset">
            <div class="login-bg2">
                <div class="backstretch"><img  style="width:100%" src="http://res.cloudinary.com/dvq8jna9w/image/upload/v1487526991/intro_mfjx0k.jpg"></div>
            </div>
        </div>
    </div>
</div>