<div class="page-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption">
                        <i class=" icon-social-twitter font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Reviews</span>
                    </div>
                    <div style="float: right;">
                        <a href="/reviews/refresh" class="btn btn-success">
                            Refresh
                            <i class=" icon-refresh"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    
                    <table class="table table-striped">
                        <tr>
                            <th> Reviewr </th>
                            <th> Text </th>
                            <th style="min-width:110px"> Rating </th>
                            <th> Ad </th>
                        </tr>

                        <% @reviews.each do |review| %>
                            <tr>
                                <td> <%= review.name %> </td>
                                <td> <%= review.review_text %> </td>
                                <td> 
                                    <% for i in 1..review.rating %>
                                        <i class=" icon-star"></i> 
                                    <% end %>
                                </td>
                                <td>
                                    <% if review.published_ad %>
                                        <img src="<%=review.review_image_url%>"/>
                                    <% else %>
                                        <% if review.rating >= 4 %>
                                            <a href="/reviews/create_ad?review_id=<%= review.id %>" class="btn btn-xxl btn-success">
                                                <i class="icon-paper-plane"></i>
                                                <span>Create Ad</span>
                                            </a>
                                        <% else %>
                                            <div>We got only <%= review.rating %> stars</div>
                                            <div>Publishing this review as an ad is a bad idea :/</div>
                                        <% end %>
                                    <% end %>
                                </td>
                                
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>